body {
  background-color: #4c5856;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  /* background: rgb(0,0,0);
background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(51,58,85,1) 53%); */
}
